{% extends 'index.html' %}
{% load static %}
{% block content %}


<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Profile</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Profile Start -->
<div class="container-fluid my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="card">
                    <div class="card-header text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle mb-2"
                             height="80" alt="avatar"
                        />
                        <h3>Profile Settings</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control shadow-none" name="name"
                                       value="{{student.name}}"/>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Track</label>
                                <select class="form-select shadow-none" name="track">
                                    {% for choice in Track %}
                                    <option value="{{ choice.0 }}"
                                            {% if choice.0 == student.track %} selected {%endif%}>
                                        {{ choice.1 }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Profile End -->

{% endblock content %}