Dear {{student}},

I hope this email finds you excited and ready for the upcoming semester. We are delighted to inform you that your enrollment request for the {{className}} at Academy Tech Learn has been accepted. Congratulations on securing a spot in the class!

Here are the details of the enrolled course:

Class Name: {{className}}
Course Name: {{courseName}}

Your dedication and interest in this subject are truly commendable, and we are confident that this class will be a valuable addition to your academic journey. We believe it will provide you with the necessary skills and knowledge to excel in your chosen field.

If you have any questions or need assistance with anything related to your enrollment or the course, feel free to reach out to our dedicated support team at academytechlearn@gmail.com. We are here to help you in any way we can.

Once again, congratulations on being accepted into the {{className}}. We look forward to having you as part of our vibrant and dynamic learning community at Academy Tech Learn. We are confident that this class will be a rewarding experience for you.

Best regards,

Ahmad Sleiman
Manager
Academy Tech Learn