Dear {{student}},

I hope this email finds you well and that you're having a fantastic day! We are thrilled to announce the launch of  a captivating new offline class at Academy Tech Learn. As one of our valued students, we wanted to share this exclusive opportunity with you first!

Class Name: {{className}}
Course Name: {{courseName}}
Teacher Name: {{teacher}}
Price: {{price}}

This enriching course is designed to take you on a journey through {{courseName}}, empowering you with valuable knowledge and skills that will contribute to your academic and professional growth. Our esteemed instructor, {{teacher}}, is an expert in the field and is dedicated to providing you with an exceptional learning experience.

If you have any questions or require further assistance, don't hesitate to reach out to our dedicated support team at academytechlearn@gmail.com.

We genuinely believe that this course will be a valuable addition to your academic pursuits and personal growth. Seize this opportunity to expand your knowledge and skills, and take a step closer to achieving your goals.

Thank you for being a part of our learning community, and we look forward to welcoming you to the classroom!

Best regards,

Ahmad Sleiman
Manager
Academy Tech Learn