Dear {{ user.get_username }},

We noticed that you requested a password reset for your Academy Tech Learn account. Don't worry; we're here to help you regain access to your account quickly and securely.

To reset your password, Click on the following link to access the password reset page:
{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}

You will be directed to a page where you can enter your new password. Please make sure to choose a strong and unique password to enhance the security of your account.

Please ensure that you keep your new password confidential and do not share it with anyone. Academy Tech Learn will never ask you for your password through email or any other form of communication.

Thank you for choosing Academy Tech Learn. We apologize for any inconvenience this may have caused and appreciate your prompt attention to this matter.

Sincerely,

Academy Tech Learn Team